@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.container {
    display: flex;
    color: white;
    padding: 8px;
    gap: 8px;
    /* padding: 8px; */
    overflow-y: hidden;
}
.left {
    /* border: 2px solid white; */
    position: sticky;
    top: 0;
    width: 25%;
    max-height: 96vh;
    /* padding: 8px 0px 8px 8px; */
}
.right {
    /* border: 2px solid white; */
    width: 75%;
    border-radius: 10px;
    background-image: linear-gradient(#1d1d1d, black);
    /* margin-top: 8px;
    margin-bottom: 8px; */
    height: 98vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
.logo {
    height: 2rem;
    cursor: pointer;
}
.home, .search {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
.top ul li {
    list-style: none;
    display: flex;
    margin: 5px;
    gap: 6px;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
}
.top {
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
}
.bottom {
    min-height: 67vh;
    /* margin: 10px; */
    padding: 10px;
    border-radius: 10px;
    position: relative;
}
.bottomhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottomhead span{
    padding: 5px;
    height: 1.8rem;
    display: flex;
    align-items: center;
    font-size: 1 rem;
    align-items: normal;
}

.bottomhead img {
    height: 1.8rem;
    width: 2rem;
    filter: invert();
    top: 1px;
}
#plus {
    font-size: 2rem;
    cursor: pointer;
    /* border: 2px solid white; */
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    justify-content: center;
    padding: 1px;
    align-items: inherit;
}
.bottommid {
    height: 25vh;
    overflow-y: scroll;
    align-items: center;
    justify-content: center;
}
.bottomMid1 {
    display: flex;
    flex-direction: column;
    height: fit-content;
    border-radius: 8px;
    gap: 20px;
    margin: 8px 0;
    padding: 16px 20px;
}
.bottomMidText1 {
    font-weight: 600;
}
.bottomMidText2 {
    font-size: 0.8rem;
}
.createPlaylist {
    width: fit-content;
    padding: 8px;
    font-weight: 600;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
.createPlaylist:hover {
    padding: 7.5px;
    font-size: 0.85rem;
}
.bottomfooter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 9px;
    gap: 8px;
    margin: 0rem 0.5rem 2.5rem 0rem
}
.bottomfooter div {
    width: fit-content;
}
.bottomfooter_container {
    margin: 20px;
    display: fixed;
    bottom: 20px;
    position: absolute;
    height: 7rem;
}
button.lang_sel {
    background-color: #121212;
    border: 0.5px solid rgb(180, 178, 178);
    border-radius: 15px;
    color: white;
    padding: 6px;
    width: 6rem;
    height: auto;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.lang_sel:hover {
    border: 0.5px solid rgb(255, 255, 255);
    font-size: 13.5px;
    /* padding: 6.2px */

}