@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    top: 0;
    max-width: 100%;
    background-color: #101010f3;
    display: flex;
    justify-content: space-between;
    position: sticky;
    padding: 5px;
    align-items: center;
    height: 49px;
    border-radius: 10px;
    z-index: 10;
}

.leftbtn {
    filter: invert();
    padding: 5px;
    gap: 10px;
    /* border: 2px solid white; */
}
.arrow_btn {
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    /* border: 2px solid white; */
}
#signup {
    background-color: #101010;
    color: white;
    opacity: 0.8;
    margin: 0px 25px 0px 25px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
#signup:hover {
    opacity: 1;
    /* font-size: 1.05rem; */
}
.rightbtn {
    display: flex;
    width: 13rem;
    /* border: 1px solid white; */
    padding: 1px;
}
#login {
    background-color: white;
    padding: 9px 24px 9px 24px;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}
#login:hover {
    padding: 10px 25px 10px 25px;
}
.band {
    display: flex;
    justify-content: space-between;
    margin: 4rem 15px 5px 15px;
}
#span1 { 
    font-size: 1.3rem;
    font-weight: 600;
}
#span1:hover {
    text-decoration: underline;
}
#span2 {
    font-size: 0.8rem;
    color: rgb(185, 184, 184);
    font-weight: 500;
}
#span2:hover {
    text-decoration: underline;
}
.profiles {
    /* border: 2px solid white; */
    width: fit-content;
    display: flex;
    /* flex-flow: row wrap; */
}
.card {
    /* border: 2px solid white; */
    padding: 8px;
    border-radius: 7px;
    position: relative;
}
.card:hover {
    background-image: linear-gradient(#121212, #1d1d1d);
}
.card:hover .play {
    opacity: 1;
    bottom: 70px;
    transition: 0.2s;
}
.cardImage {
    height: 14rem;
    width: 14rem;
    overflow: hidden;
    border-radius: 50%;
}
.play {
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 6px;
    position: absolute;
    right: 27px;
    bottom: 65px;
    opacity: 0;
    transition: 0.2s;
    border: none;
}
.play:hover {
    padding: 7px;
}
.KnownAs {
    color: rgb(170, 169, 169);
    font-size: 0.8rem;
    padding: 2px;
}
.cardImage2 {
    height: 14rem;
    width: 14rem;
    overflow: hidden;
    /* border-radius: 50%; */
}
.name {
    padding: 3px;
}
.endTexts {
    /* border: 2px solid white; */
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 4rem 2rem 2rem 2rem;
}
.endtextsContainer {
    display: flex;
}
.line {
    border: 0.1px solid rgba(77, 76, 76, 0.712);
    width: 80%;
    margin: auto;
}
.copyright {
    font-size: 0.9rem;
    color: rgb(114, 113, 113);
    margin: 5rem 5rem 5rem 2rem;
}